<div class="">
    <h1>Threshold Reorder</h1>
    <div class="" *ngFor="let item of items">
        <div>{{ item.id }}</div>
        <div>{{ item.name }}</div>
        <div>{{ item.quantity }}</div>
        <div>{{ item.reorderThreshold }}</div>
        
        <div class="">
            <div class="">
                <button class="">Order</button>
                <button class="">Dismiss</button>
                <button class="">Edit Threshold</button>
            </div>
        </div>
    </div>
</div>
